name: Deploy
on:
  push:
    branches:
      - main
jobs:
  inital-setup: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT }}
      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
      - name: Get VM External IP
        id: get_ip
        run: |
          IP=$(gcloud compute instances describe ${{ secrets.VM_NAME }} \
            --zone=${{ secrets.VM_ZONE }} \
            --format='get(networkInterfaces[0].accessConfigs[0].natIP)')
          echo "vm_ip=$IP" | tee -a "$GITHUB_OUTPUT"
      - name: SSH into VM and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ steps.get_ip.outputs.vm_ip }}
          username: ${{ secrets.VM_USER}}
          key: ${{ secrets.VM_SSH_KEY}}
          script: |
            set -e

            echo ">>> Installing dependencies."
            sudo apt-get update -qq
            sudo apt-get install -y -qq git python3 python3-venv python3-pip
            
            # Verify installations
            git --version
            python3 --version

            APP_DIR="/home/${{ secrets.VM_USER}}/fastapi_demo_app"
            SERVICE_NAME="fastapi"
            SERVICE_FILE="/etc/systemd/system/${SERVICE_NAME}.service"
            REPO_URL=https://github.com/Shaikhanis7/gcp-ci-cd.git
            mkdir -p $APP_DIR
            cd $APP_DIR

            if [ ! -d ".git" ]; then
              git init
              git remote add origin "$REPO_URL"
            else
              git remote set-url origin "$REPO_URL"
            fi

            git fetch origin
            git reset --hard origin/main

            if [ ! -d "venv" ]; then
              python3 -m venv venv
            fi

            source venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
            sudo tee "$SERVICE_FILE" > /dev/null <<EOF
            [Unit]
            Description=FastAPI Demo Service
            After=network.target

            [Service]
            User=${{ secrets.VM_USER }}
            WorkingDirectory=$APP_DIR
            ExecStart=${APP_DIR}/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
            Restart=always
            RestartSec=5
            Environment=PATH=${APP_DIR}/venv/bin

            [Install]
            WantedBy=multi-user.target
            EOF

            sudo systemctl daemon-reload      # Reload systemd configs
            sudo systemctl enable $SERVICE_NAME  # Enable auto-start on boot
            sudo systemctl restart $SERVICE_NAME # Restart (or start) service
            sudo systemctl status $SERVICE_NAME --no-pager  # Show status



            