name: Deploy
on:
  push:
    branches:
      - main
jobs:
  inital-setup: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT }}
      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
      - name: Get VM External IP
        id: get_ip
        run: |
          IP=$(gcloud compute instances describe ${{ secrets.VM_NAME }} \
            --zone=${{ secrets.VM_ZONE }} \
            --format='get(networkInterfaces[0].accessConfigs[0].natIP)')
          echo "vm_ip=$IP" | tee -a "$GITHUB_OUTPUT"
      - name: SSH into VM and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ steps.get_ip.outputs.vm_ip }}
          username: ${{ secrets.VM_USER}}
          key: ${{ secrets.VM_SSH_KEY}}
          script: |
            echo "Running deployment on VM with IP: ${{ steps.get_ip.outputs.vm_ip }}"
            echo whoami


            